/*
    Name: My SCSS
    Author: Sanjadoc
    Date: February 2016
    Version: 1.1.1
*/
/* line 1, ../scss/_reset.scss */
html, body, div, span, object, applet, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 9, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 14, ../scss/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 20, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General */
/* line 5, ../scss/style.scss */
html {
  height: 100%;
  min-width: 500px;
  overflow: visible;
}

/* line 11, ../scss/style.scss */
body {
  position: relative;
  height: 100%;
  color: #000;
  background: #ababb1;
  font: normal 12px/1.5 "Open Sans", sans-serif;
}

/* line 19, ../scss/style.scss */
.wrapper {
  position: relative;
  margin: 0 auto;
  z-index: 10001;
  display: block;
  padding: 40px;
  text-align: center;
}

/* line 28, ../scss/style.scss */
a * {
  cursor: pointer;
}

/* general animation */
/* line 34, ../scss/style.scss */
* {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

/* line 41, ../scss/style.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Nav */
/* line 49, ../scss/style.scss */
.nav {
  text-align: center;
}
/* line 52, ../scss/style.scss */
.nav ul {
  list-style: none;
  background-color: #2a2525;
}
/* line 56, ../scss/style.scss */
.nav ul li {
  padding: 20px 0;
  display: inline-block;
}
/* line 60, ../scss/style.scss */
.nav ul li a {
  text-decoration: underline;
  text-transform: uppercase;
  font: normal 20px/1.5 "Open Sans", sans-serif;
  color: white;
  padding: 20px 40px;
}
/* line 66, ../scss/style.scss */
.nav ul li a:hover {
  color: black;
  background-color: #fff;
  text-decoration: none;
}

/* Content */
/* line 79, ../scss/style.scss */
h1 {
  font: normal 36px/1.5 "Open Sans", sans-serif;
  color: #F44336;
  text-align: center;
}

/* line 85, ../scss/style.scss */
div .container {
  display: block;
  font: normal 20px/1.5 "Open Sans", sans-serif;
  background: #ffffff;
  box-shadow: 0 0px 3px 5px rgba(15, 15, 15, 0.2);
  margin: 20px 0;
  padding: 40px 40px;
  border: 3px solid #cfcfcf;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 97, ../scss/style.scss */
div .container p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* line 103, ../scss/style.scss */
.btn {
  display: block;
  text-align: center;
  width: 200px;
  height: 30px;
  padding: 10px;
  color: yellow;
  background-color: blue;
  margin: 0 auto;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 115, ../scss/style.scss */
.btn:hover {
  background-color: yellow;
  color: #F44336;
  text-transform: uppercase;
}

/* line 129, ../scss/style.scss */
.small-blue-square {
  width: 120px;
  height: 120px;
  background-color: #00fa2d;
}

/* line 134, ../scss/style.scss */
.dialog-button, .confirm, .cancel {
  box-sizing: border-box;
  color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  padding: 12px 40px;
  cursor: pointer;
}

/* line 142, ../scss/style.scss */
.confirm {
  background-color: #87bae1;
}

/* line 147, ../scss/style.scss */
.cancel {
  margin-left: 20px;
  background-color: #e4749e;
}

/* line 153, ../scss/style.scss */
.dialog-button:hover, .confirm:hover, .cancel:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 100, 0.3);
}

/* Variable Arguments */
/* line 166, ../scss/style.scss */
.primary {
  color: #ff0000;
  background-color: #00ff00;
  border-color: #0000ff;
}

/* line 171, ../scss/style.scss */
.secondary {
  color: #00ff00;
  background-color: #0000ff;
  border-color: #ff0000;
}

/* line 176, ../scss/style.scss */
.third {
  color: #00ff00;
  background-color: #ff00ff;
  border-color: #ff0000;
}

/* Footer */
/* line 182, ../scss/style.scss */
footer {
  text-align: center;
}
/* line 185, ../scss/style.scss */
footer ul {
  list-style: none;
  background-color: #6f6767;
}
/* line 189, ../scss/style.scss */
footer ul li {
  padding: 40px;
  display: inline-block;
}
/* line 193, ../scss/style.scss */
footer ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}
/* line 200, ../scss/style.scss */
footer ul li a:hover {
  text-decoration: underline;
  color: black;
}
/* line 209, ../scss/style.scss */
footer .footer-bottom {
  background-color: #413c3c;
  padding: 30px;
}
/* line 213, ../scss/style.scss */
footer .footer-bottom p {
  text-decoration: none;
  font: normal 20px/1.5 "Open Sans", sans-serif;
  color: beige;
}

/*---------------------------------------------------*/
/* Variable Scope and Content Blocks */
/* line 232, ../scss/style.scss */
.colors {
  color: white;
}

/* Function Directives */
/* line 247, ../scss/style.scss */
#sidebar {
  width: 240px;
}
